<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-audienceplus"
        version="0.0.1">

  <name>Audience +</name>

  <engines>
    <engine name="cordova" version=">=3.2.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <js-module src="www/AudiencePlusPlugin.js" name="AudiencePlusPlugin">
      <clobbers target="AudiencePlusPlugin" />
    </js-module>
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="AudiencePlusPlugin">
        <param name="android-package" value="com.gaultmillau.cordova.audienceplus.AudiencePlusPlugin"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/AudiencePlusPlugin.java" target-dir="src/com/gaultmillau/cordova/"/>
    <source-file src="src/android/libs/ape-2.4.1-rc9.jar" target-dir="libs" />

    <!--<config-file target="res/values/strings.xml" parent="/*">-->
      <!--<string name="mapbox_accesstoken">$ACCESS_TOKEN</string>-->
    <!--</config-file>-->
  </platform>
</plugin>



    <!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"-->
<!--xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--id="cordova-plugin-audienceplus"-->
<!--version="1.2.3">-->

<!--<name>Audience +</name>-->

<!--<js-module src="www/AudiencePlusPlugin.js" name="AudiencePlusPlugin">-->
  <!--<clobbers target="cordova.plugins.AudiencePlusPlugin" />-->
<!--</js-module>-->

<!--&lt;!&ndash; android &ndash;&gt;-->
<!--<platform name="android">-->
  <!--<feature name="AudiencePlusPlugin">-->
    <!--<param name="android-package" value="com.gaultmillau.cordova.audienceplus.AudiencePlusPlugin"/>-->
  <!--</feature>-->
  <!--<config-file parent="/*" target="AndroidManifest.xml"/>-->
  <!--<source-file src="src/android/AudiencePlusPlugin.java" target-dir="src/com/gaultmillau/cordova/"/>-->
  <!--<source-file src="src/android/libs/ape-2.4.1-rc9.jar" target-dir="libs" />-->

  <!--&lt;!&ndash;<config-file target="res/values/strings.xml" parent="/*">&ndash;&gt;-->
  <!--&lt;!&ndash;<string name="mapbox_accesstoken">$ACCESS_TOKEN</string>&ndash;&gt;-->
  <!--&lt;!&ndash;</config-file>&ndash;&gt;-->
<!--</platform>-->
<!--</plugin>-->
